<h1>Publicação</h1>
<p><b>Titulo:</b> <%= @post.title %></p>
<p><b>Descrição:</b> <%= @post.body %></p>

<h1>Comentarios </h1>

<%= link_to 'Criar comentario', {:controller=>"comments", :action => 'new', :post_id => @post }  , class: 'badge badge-success text-center', :style=>'margin-bottom: 10px; font-size: 1.2rem; float: right; margin-right: 10px;'  %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Comentario</th>
      <th scope="col">Criador</th>
      <th scope="col">Gerenciar seus comentarios</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr scope="row">
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
        <% if current_user.id == comment.user_id %>
            <td class="text-center">
              <%= link_to 'Editar', edit_comment_path(comment) , class: 'btn btn-md badge badge-warning m-auto text-white', :style=>'font-size: 1rem;' %>
              <%= link_to 'Remover', comment, method: :delete, data: { confirm: 'Tem certeza?' } , class: 'btn btn-md badge badge-danger m-auto',  :style=>'font-size: 1rem;' %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>