
<h1>Gerenciar usuários da empresa</h1>
<%= link_to 'Criar funcionário', register_path , class: 'badge badge-success text-center', :style=>'margin-bottom: 10px; font-size: 1.5rem; float: right; margin-right: 10px;'  %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome do usuário</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <% if current_user.admin? %>
        <th scope="col">Remover</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr scope="row">
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if current_user.admin? %>
          <td class="text-center"><%= link_to 'Remover', { :action => 'delete_user', :id => user.id }, method: :delete, data: { confirm: 'Tem certeza?' } , class: 'btn btn-md badge badge-danger' %></td>
        <% else %>
          <td>Você não pode gerenciar esse usuário</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>